<div class="d-flex justify-content-center">
<% @flats.each do |flat| %>
  <div class="col-4">
  <%= link_to flat.name, flat_path(flat) %>
  </div>
<% end %>
</div>

<%= link_to "List your flat", new_flat_path, class: "btn btn-primary" %>
